---
import type { Testimonial } from "../data/testimonials";

interface Props {
  testimonial: Testimonial;
}

const { testimonial } = Astro.props;

// Function to split text into words and limit to a specific count
function limitWords(text: string, wordLimit: number) {
  const words = text.split(/\s+/);
  const needsReadMore = words.length > wordLimit;

  if (!needsReadMore) {
    return { displayText: text, hiddenText: "", needsReadMore };
  }

  const displayText = words.slice(0, wordLimit).join(" ");
  const hiddenText = words.slice(wordLimit).join(" ");

  return { displayText, hiddenText, needsReadMore };
}

const { displayText, hiddenText, needsReadMore } = limitWords(testimonial.text, 60);
---

<div class="testimonial-item">
  <div class="testimonial-content">
    <div class="testimonial-picture">
      <img
        src={testimonial.image}
        alt={testimonial.name}
      />
    </div>

    <div class="testimonial-text">
      <p>
        <span>{displayText}</span>
        {
          needsReadMore && (
            <>
              <span
                class="hidden-text"
                style="display: none;"
              >
                {hiddenText}
              </span>
              <span class="read-more-container">
                <a
                  href="#"
                  class="read-more-link"
                >
                  ...read more
                </a>
              </span>
              <span
                class="show-less-container"
                style="display: none;"
              >
                <a
                  href="#"
                  class="show-less-link"
                >
                  show less
                </a>
              </span>
            </>
          )
        }
      </p>
    </div>

    <div class="testimonial-author-info">
      <h5 class="testimonial-author">{testimonial.name}</h5>
      <p class="testimonial-firm">{testimonial.company}</p>
    </div>

    <div class="testimonial-icon">
      <i class="fa fa-quote-left"></i>
    </div>

    <div class="testimonial-icon-big">
      <i class="fa fa-quote-right"></i>
    </div>
  </div>
</div>
